# Soupault
build/*
.soupault-cache/*

# A folder I use to cache processed elements
.scripts-cache/*

# Latex generation
latex.log
tmp.tex
tmp.log
tmp.dvi
tmp.aux
tmp.svg

# Node
node_modules/
package-lock.json
package.json
