<!--
    This is the default page template.

    In soupault's terminology, a "page template" is simply an HTML file devoid of content.
    It parses HTML into an element tree much like browsers do and then modifies it,
    then saves modified HTML to a static page.
  -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Non-page files from the site/ dir are simply copied unchanged. -->
    <link rel="stylesheet" href="/sakura.css" type="text/css">
    <!-- <link rel="stylesheet" href="/grid.css" type="text/css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>

    <!--
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    -->

    <!-- Page title is set by the title widget based on its heading -->
    <title></title>
  </head>
  <body>
    <main>
      <!--
        Page content is inserted here.
        It can be inserted inside any element identifiable with a CSS3 selector,
        see the settings.default_content_selector option.
      -->
    </main>
  </body>
</html>
